html,body
{
	
height: 100%;	

}

#containerHolder
{

	width: 100%;
	min-height: 100%;
	background-repeat: no-repeat; 
	background-size: cover;
	background-image: url(../R/Background.jpg);

}

#time_Container #time_content
{
	

	font-family: sans-serif;
	font-size:300%;
	color:#fff;
	
}
#date_content
{
	font-family: sans-serif;
	font-size:300%;
	color:#fff;
	
}
#weather_content
{

	color:#fff;
	
}